<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>



<%- include('../partials/_navbar.ejs')%>



  <h1 style="text-align: center;">Welcome to PawRescue ​ </h1>
  <br/>
  <form action="/auth/sign-up" method="POST">
    <table style="margin-left: auto; margin-right: auto;">
      <tbody>
        <tr>
          <td><label for="username">Username:</label></td>
          <td><input type="text" name="username" id="username" required /></td>
        </tr>
        <tr>
          <td><label for="password">Password:</label></td>
          <td><input type="password" name="password" id="password" required /></td>
        </tr>
        <tr>
          <td><label for="confirmPassword">Confirm Password:</label></td>
          <td>    <input 
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            required 
          />
      </td>
        </tr>
        <tr>
      <td><label for="contactNo">Contact Number:</label></td> 
      <td><input type="number" name="contactNo" id="contactNo"></td>
        </tr>
        <tr>
          <td><label for="email">Email:</label></td>
          <td><input type="email" name="email" id="email"></td>
        </tr>
        
        
      </tbody>
    </table>
    <br/>
    <div class="center"><button type="submit" class="signBt">Sign up</button></div>
  </form>
</body>
</html>
