<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />

    <title>Website Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>


    <div class="welcomeIndexDiv">
    <p class="welcomeIndexP">Welcome to PawRescue HomePage​</p>
    <div>
      <p><a href="/page1">Learn about stray animals</a></p><br>
      <p><a href="/page2">Found a stary? Quik help guid</a></p><br>
      <p><a href="/page3">Animal search and identification tools</a></p><br>
      <p><a href="/page4">Adoption and rehoming page</a></p><br>
      <p><a href="/page5">Resources and support for animal welfare</a></p>

    </div>
    </div>

      



  </body>

</html>